/*=============================================== *
 * Jcink.com Forum Hosting Stylesheet
 * ==============================================
 * #Version:	1.0.2
 *=============================================== */

html {
  overflow-x: auto;
  font-size: 62.5%;
}

form {
  display: inline;
}

/****************************************
  Default Colors, Fonts, and Styles
 *****************************************/

:root {
  /* Colors List */
  --eerie-black: #222222;
  --anti-flash-white: #efefef;
  --platinum: #e1e1e1;
  --maroon: #800000;
  --russian-violet: #290c3b;

  --jet: #3b3937;
  --rosy-brown: #ccabab;
  --rose-quartz: #aaa5b1;
  --grey: #707774;

  /* Font List */
  --arial: 'Arial', sans-serif;
  --courier: 'Courier', monospace;

  --font-family__title: var(--arial);
  --font-family__subheading: var(--arial);
  --font-family__body: var(--arial);
  --font-family__accent: var(--courier);

  /* Font Sizes */
  --size14px: 1.4rem;
  --size16px: 1.6rem;
  --size24px: 2.4rem;
  --size35px: 3.5rem;

  --textsize__title: var(--size35px);
  --textsize__subheading: var(--size24px);
  --textsize-body__primary: var(--size16px);
  --textsize-body__secondary: var(--size14px);
}

[data-theme='light'] {
  /* Light Mode Colors */
  --theme__background-main: var(--anti-flash-white);
  --theme__background-contrast: var(--platinum);
  --theme__color-primary: var(--maroon);
  --theme__color-secondary: var(--russian-violet);
  --theme__color-accent: var(--platinum);
  --theme__text-main: var(--eerie-black);
  --theme__text-contrast: var(--anti-flash-white);
}

[data-theme='dark'] {
  /* Dark Mode Colors */
  --theme__background-main: var(--eerie-black);
  --theme__background-contrast: var(--jet);
  --theme__color-primary: var(--rosy-brown);
  --theme__color-secondary: var(--rose-quartz);
  --theme__color-accent: var(--grey);
  --theme__text-main: var(--anti-flash-white);
  --theme__text-contrast: var(--eerie-black);
}

/****************************************
  Body Background & Text Style
 *****************************************/

body {
  font-family: var(--font-family__body);
  font-size: var(--textsize-body__primary);
  color: var(--theme__text-main);
  margin: 0px;
  padding: 0px;
  background: var(--theme__background-main);
  text-align: center;
}

/****************************************
    Board Width
 *****************************************/

#wrapper {
  text-align: left;
  max-width: 1200px;
  margin: 0px auto 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

#header,
#innerwrapper,
#footer {
  padding: 0 10px;
}

/****************************************
    Sticky Navbar Styling
*****************************************/
#navigation-wrapper {
  position: sticky;
  top: 0;
  background-color: var(--theme__background-contrast);
  border-bottom: 1px solid var(--theme__color-primary);
  z-index: 9999;
  width: 100%;
  padding: 5px 0;
}

#navigation {
  display: grid;
  margin: auto;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    'nav-icons-left mobile-menu nav-icons-right'
    'breadcrumbs breadcrumbs breadcrumbs';
  justify-items: stretch;
  align-items: center;
  padding: 0 10px;
}

.nav__icons--left,
.nav__icons--right {
  display: flex;
  color: var(--theme__color-primary);
  cursor: pointer;
}

.nav__icons--left {
  grid-area: nav-icons-left;
}

.nav__icons--right {
  grid-area: nav-icons-right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav__icons--left .icons,
.nav__icons--right .icons {
  font-size: var(--textsize__subheading);
  width: 30px;
  text-align: center;
}

.nav__menu {
  grid-area: mobile-menu;
  margin: auto;
}

.nav__menu button {
  height: 30px;
  padding-bottom: 2px;
  border: none;
  background: transparent;
  color: var(--theme__color-primary);
  font: var(--textsize__subheading) var(--font-family__subheading);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__menu button > i {
  margin-left: 5px;
}

.nav__menu button:hover {
  color: var(--theme__color-secondary);
}

.button-action .rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.button-action .rotate.down {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#navi {
  grid-area: breadcrumbs;
  padding-top: 5px;
}

#navi > br {
  display: none;
}

#navstrip {
  text-align: center;
}

#nav__userlinks {
  background: var(--theme__background-contrast);
  background-position: center top;
  border-radius: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 5px;
  grid-template-areas:
    'quicklink-1     quicklink-2'
    'quicklink-3     quicklink-4'
    'quicklink-5     quicklink-6'
    'user-info       user-info'
    'admin-cp        mod-cp'
    'view-profile    my-controls'
    'topics          messages'
    'view-new-posts  alerts';
  justify-items: start;
}

#nav__userlinks .mcp-0,
#nav__userlinks .acp-0,
#nav__userlinks .m-2 {
  display: none;
}

#nav__userlinks .g-2 {
  display: block !important;
}

#nav__userlinks .g-2.logging {
  margin-top: 5px;
}

#nav__userlinks .g-2.logging a:first-child {
  margin-right: 55px;
}

#nav__userlinks i {
  margin-left: 5px;
  margin-right: 5px;
}

.nav__userlinks--users {
  grid-area: user-info;
  display: inline-grid;
  width: 100%;
  word-break: break-word;
  justify-items: center;
}

.nav__userlinks--users strong {
  font: var(--textsize__subheading) var(--font-family__title);
  text-transform: uppercase;
  color: var(--theme__color-secondary);
  letter-spacing: 1px;
  text-align: center;
}

.account-switcher {
  margin-top: 10px;
}

#nav__userlinks.dropdown-menu {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  left: calc(100% - 94%);
  top: 80px;
  margin: auto;
  width: 85%;
  max-height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-transition: max-height, 0.5s ease-in-out;
  transition: max-height, 0.5s ease-in-out;
}

#nav__userlinks.dropdown-menu.display-menu {
  max-height: 350px;
  padding: 10px 5px 10px;
  border: 1px solid var(--theme__color-primary);
}

/* Setting grid area identifiers on the menu */
.admin-cp {
  grid-area: admin-cp;
}

.mod-cp {
  grid-area: mod-cp;
}

.view-profile {
  grid-area: view-profile;
}

.my-controls {
  grid-area: my-controls;
}

.active-topics {
  grid-area: topics;
}

.my-messages {
  grid-area: messages;
}

.view-new-posts {
  grid-area: view-new-posts;
}

.mu-alerts {
  grid-area: alerts;
}

.quicklinks-1 {
  grid-area: quicklink-1;
}

.quicklinks-2 {
  grid-area: quicklink-2;
}

.quicklinks-3 {
  grid-area: quicklink-3;
}

.quicklinks-4 {
  grid-area: quicklink-4;
}

.quicklinks-5 {
  grid-area: quicklink-5;
}

.quicklinks-6 {
  grid-area: quicklink-6;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  #nav__userlinks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'user-info       user-info   user-info   user-info'
      'view-profile    my-controls quicklink-1 quicklink-2'
      'topics          messages    quicklink-3 quicklink-4'
      'view-new-posts  alerts      quicklink-5 quicklink-6'
      'admin-cp        mod-cp      .           .';
  }
}

@media only screen and (min-width: 1025px) {
  #nav__userlinks {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'user-info   view-profile    my-controls  quicklink-1  quicklink-2'
      'user-info   topics          messages     quicklink-3  quicklink-4'
      'user-info   view-new-posts  alerts       quicklink-5  quicklink-6'
      'user-info   admin-cp        mod-cp       .            .';
  }

  #nav__userlinks.dropdown-menu {
    width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/****************************************
    Link colors
 *****************************************/

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--theme__color-primary);
}

a:hover {
  color: var(--theme__color-secondary);
}

/****************************************
   Default Header Area
 *****************************************/

#header > br,
#logostrip,
#submenu,
#userlinks {
  display: none;
}

#logo {
  min-height: 60px;
  text-align: left;
  margin-top: 5px;
  padding: 20px 0px 5px;
}

#logo a,
#logo a:hover {
  font-size: var(--textsize__title);
  font-weight: bold;
}

/*------------------------------------*\
  #CATEGORY_HEADERS
\*------------------------------------*/

.category {
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
}

.category > .maintitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------------------------------------*\
  #FORUM_ROWS
\*------------------------------------*/

.forum__row {
  display: grid;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--theme__background-main);
  row-gap: 5px;
  grid-template-areas:
    'info       info       info'
    'subforums  subforums  subforums'
    'macro      topics     replies'
    'lastpost   lastpost   lastpost';
}

.forum__row--macro,
.forum__row--topics,
.forum__row--replies {
  text-align: center;
}

span.subforums > br {
  display: none;
}

/* Grid Set Up */
.forum__row--macro {
  grid-area: macro;
}

.forum__row--info {
  grid-area: info;
}

.forum__row--subforums {
  grid-area: subforums;
}

.forum__row--topics {
  grid-area: topics;
}

.forum__row--replies {
  grid-area: replies;
}

.forum__row--last-post-info {
  grid-area: lastpost;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  .forum__row {
    grid-template-columns: 28px 55% 7% 7% 27%;
    column-gap: 5px;
    grid-template-areas:
      'macro  info       topics     replies    lastpost'
      'macro  subforums  subforums  subforums  subforums';
  }
}

/*------------------------------------*\
  #REDIRECT_ROWS
\*------------------------------------*/

.redirect__row {
  display: grid;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--theme__background-main);
  row-gap: 5px;
  grid-template-areas:
    'info info'
    'macro hits';
}

/* Grid Set Up */
.redirect__row--macro {
  grid-area: macro;
  text-align: center;
}

.redirect__row--info {
  grid-area: info;
}

.redirect__row--subforums {
  grid-area: subforums;
}

.redirect__row--hits {
  grid-area: hits;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  .redirect__row {
    grid-template-columns: 28px 55% 7% 7% 27%;
    column-gap: 5px;
    grid-template-areas:
      'macro info info info hits'
      'macro subforums subforums subforums subforums';
  }
}

/*------------------------------------*\
  #RECENT_TOPICS
\*------------------------------------*/

#recent-topics tr {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#recent-topics tr > td.recent-topics-info,
#recent-topics tr > td.recent-topics-date {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  #recent-topics tr {
    flex-direction: row;
  }

  #recent-topics tr > td.recent-topics-date {
    text-align: right;
  }
}

/*------------------------------------*\
  #BOARD_STATS
\*------------------------------------*/

#boardstats {
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
}

#board-stats__grid {
  display: grid;
  align-items: center;
  padding: 5px;
  grid-template-areas:
    'links'
    'online-now'
    'stats'
    'birthdays'
    'online-today';
}

.boardstats__online-now > .maintitle,
.boardstats__links > .maintitle,
.boardstats__birthdays > .maintitle,
.boardstats__stats > .maintitle,
.boardstats__online-today > .maintitle {
  font-size: var(--textsize-body__primary);
  margin: 5px 0;
}

.online-now__grid,
.links__grid,
.birthdays__grid,
.stats__grid,
.online-today__grid {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: 0.1fr 1fr;
}

.links__grid {
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-left: 5px;
}

.boardstats--macro {
  text-align: center;
}

.boardstats--macro > .users-macro > i {
  line-height: 140%;
}

/* Online users list row */
.online-now--thin {
  padding: 6px 0px 6px 0px;
  min-height: 20px;
  line-height: 140%;
  margin: 2px 0px 2px 0px;
  border-top: 1px solid var(--theme__color-secondary);
  border-bottom: 1px solid var(--theme__color-secondary);
}

/* Grid Set Up */
.boardstats__online-now {
  grid-area: online-now;
}

.boardstats__links {
  grid-area: links;
}

.boardstats__birthdays {
  grid-area: birthdays;
}

.boardstats__stats {
  grid-area: stats;
}

.boardstats__online-today {
  grid-area: online-today;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  #board-stats__grid {
    display: grid;
    align-items: start;
    padding: 5px;
    grid-column-gap: 15px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      'online-now links'
      'birthdays stats'
      'online-today stats';
  }

  .stats__grid > .boardstats--info {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .links__grid {
    margin-left: 50px;
  }
}

/****************************************
    Default Footer Area
 *****************************************/

#delcookiesrow {
  display: none;
}

#mark-as-read-subto {
  font-size: var(--textsize-body__secondary);
  background: var(--theme__background-contrast);
  padding: 3px;
  border: 1px solid var(--theme__color-secondary);
  max-width: 350px;
}

/*------------------------------------*\
  #SUBFORUM_HEADERS
\*------------------------------------*/

#subforum-list {
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
}

/*------------------------------------*\
  #TOPIC_LIST_HEADERS
\*------------------------------------*/

#topic-list {
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
}

.topic-row.maintitle {
  font-size: var(--textsize-body__primary);
  margin: 5px;
}

.topic__row {
  border-top: 2px solid var(--theme__background-main);
  display: grid;
  align-items: center;
  padding: 5px 0;
  margin: 5px;
  row-gap: 5px;
  grid-template-areas:
    'info info info info info'
    'macro posticon replies views mod-checkbox'
    'lastpost lastpost lastpost lastpost lastpost';
}

/* this makes it so there is only a border 
between topic rows and nothing else */
.topic__row:first-child,
.maintitle + .topic__row {
  border-top: none;
}

.topic__row--macro,
.topic__row--posticon,
.topic__row--replies,
.topic__row--views,
.topic__row--mod-checkbox {
  text-align: center;
}

.topic__row--macro,
.topic__row--posticon {
  color: var(--theme__color-secondary);
}

.topic__row--info > a {
  font-weight: bold;
}

.forum-active {
  border-top: 1px solid var(--theme__color-primary);
}

/* Topic Macros */

.wrapmini {
  margin: auto;
}

.new-post-macro {
  color: var(--theme__color-primary);
}

/* Grid Set Up */
.topic__row--macro {
  grid-area: macro;
}

.topic__row--posticon {
  grid-area: posticon;
}

.topic__row--info {
  grid-area: info;
}

.topic__row--replies {
  grid-area: replies;
}

.topic__row--views {
  grid-area: views;
}

.topic__row--lastpost {
  grid-area: lastpost;
}

.topic__row--mod-checkbox {
  grid-area: mod-checkbox;
}

/* Media Queries 
* TODO: move the media queries to bottom once done */

@media only screen and (min-width: 750px) {
  .topic__row {
    grid-template-columns: 2% 2% 51% 7% 7% 27% 2%;
    column-gap: 4px;
    grid-template-areas: 'macro posticon info replies views lastpost mod-checkbox';
  }

  .wrapmini {
    float: left;
  }
}

/****************************************
    Topic View styles
 *****************************************/

.activeuserstrip {
  background: var(--background__accent);
  padding: 6px;
}

.normalname,
.unreg {
  font-weight: bold;
}

.post1 {
  background: var(--background__low-contrast);
}

.post2 {
  background: var(--background__low-contrast);
}

.postdetails {
  font-size: var(--postDetailsFontSize);
}

.postlinksbar {
  padding: 1px 5px;
  background: var(--background__accent);
  margin-top: 1px;
}

.signature {
  font-size: var(--textsize-body__secondary);
  color: var(--signatureColor);
  line-height: 150%;
}

/*******************************
  Pagination e.g. [1],2,3 ...
 *******************************/

.pagination .pagination_current,
.pagination a {
  padding: 2px 5px;
}

.pagination a:link,
.pagination a:visited,
.pagination a:active {
  border: 1px solid var(--paginationBorderColor);
  border-radius: 3px;
  background: var(--paginationLinkBGColor);
  padding-left: 6px;
  padding-right: 6px;
  color: var(--paginationLinkColor);
  text-decoration: none;
}

.pagination a:hover {
  background: var(--paginationLinkHoverBGColor);
  text-decoration: none;
  color: var(--paginationLinkHoverColor);
  background: var(--paginationBGImage);
}

.pagination a:link,
.pagination a:visited,
.pagination a:active,
.pagination a:hover {
  box-shadow: 0pt 2px 3px rgba(0, 0, 0, 0.4);
}

.pagination .pagination_current {
  background: none repeat scroll 0% 0% var(--paginationCurrentBGColor)
    var(--paginationBGImage);
  border: 1px solid var(--paginationCurrentBorderColor);
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.pagination_first,
.pagination_last,
.pagination_page {
  background: none repeat scroll 0% 0% var(--paginationFirstLastBGColor);
  border: 1px solid var(--paginationBorderColor);
}

.pagination_pagetxt {
  display: none;
}

/****************************************
    Profile styles 
 *****************************************/

#profilename {
  font-size: var(--textsize__title);
  font-weight: bold;
}

/****************************************
	  UserCP/My Controls styles
   *****************************************/

#ucpmenu,
#ucpcontent {
  border: 1px solid var(--border__secondary);
  line-height: 150%;
  width: auto;
}

#ucpmenu p {
  padding: 2px 5px 6px 9px;
  margin: 0px;
}

#ucpcontent p {
  padding: 10px;
  margin: 0px;
}

/****************************************
    Global general table/div row styles
 *****************************************/

.row1,
.row3,
.row4,
.row2 {
  background: var(--background__low-contrast);
  padding: 5px;
}

#boardstats .row2 {
  text-align: center;
}

.darkrow1,
.darkrow2,
.darkrow3 {
  background: var(--theme__background-main);
}

td.darkrow2 {
  display: none;
}

.darkrow3 {
  padding: 3px;
}

.hlight {
  background: var(--hlightBGColor);
}
.dlight {
  background: var(--dlightBGColor);
}

/****************************************
    Top table bars / gradient holders 
 *****************************************/

.maintitle {
  background: var(--theme__color-primary);
  font-weight: bold;
  padding: 8px;
  color: var(--theme__text-contrast);
  font-size: var(--textsize__subheading);
}

.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {
  color: var(--theme__text-contrast);
}

.maintitle a:hover {
  text-decoration: underline;
}

/****************************************
   Bar directly below the maintitles 
 *****************************************/

.titlemedium {
  font-weight: bold;
  color: var(--theme__text-main);
  padding: 2px 6px;
  margin: 0px;
  background: var(--theme__background-contrast);
}

.titlemedium a:link,
.titlemedium a:visited,
.titlemedium a:active {
  text-decoration: none;
  color: var(--theme__color-primary);
}

/****************************************
   Table & Div Borders 
 *****************************************/

.tableborder {
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
  padding: 0px;
  margin: 0;
}

.tablefill {
  background: var(--tablefillBGColor);
  border: 1px solid var(--tableborderBorderColor);
  padding: 6px;
}

/* .tablepad {
	background: var(--tablepadBGColor);
	padding: 6px;
} */

.tablebasic {
  width: 100%;
  padding: 0;
  margin: 0px;
  border: 0px;
}

.plainborder {
  border: 1px solid var(--border__secondary);
  background: var(--background__low-contrast);
}

/****************************************
   QUOTE and CODE BBCode boxes
 *****************************************/

#QUOTE,
#CODE {
  white-space: normal;
  font-family: var(--font-family__body);
  font-size: var(--quoteFontSize);
  color: var(--quoteColor);
  background: var(--quoteBGColor);
  padding: 2px;
  border: 1px solid var(--border__secondary);
  margin-top: 2px;
}

#CODE {
  font-family: var(--font-family__accent);
}

/**********************************************
   Input buttons, e.g. submit, text input, etc
 ***********************************************/

.button-large {
  background: var(--theme__color-primary);
  color: var(--theme__text-contrast);
  border-radius: 3px;
  padding: 5px 12px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  font-weight: bold;
  min-width: 75px;
  display: inline-block;
}

.button-small {
  background: var(--theme__color-primary);
  color: var(--theme__text-contrast);
  border-radius: 3px;
  font-weight: bold;
  font-size: var(--textsize-body__secondary);
  margin: 3px;
  padding: 4px 7px;
  text-decoration: none;
  min-width: 50px;
  max-width: 80px;
}

.button-large,
.button-small {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.post-buttons-top {
  margin-top: 3px;
}

.button-large.closed {
  background: var(--theme__color-secondary);
  color: var(--theme__text-contrast);
  padding: 7px 12px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  border: 1px solid var(--theme__color-secondary);
  font-weight: bold;
}

.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
  border-radius: 2px;
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-secondary);
  font-size: var(--textsize-body__secondary);
  color: var(--theme__color-secondary);
  padding: 2px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

input[type='submit'],
input[type='button'],
input[type='reset'] {
  background: var(--theme__color-primary);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: var(--theme__text-contrast);
  font-size: var(--textsize-body__secondary);
  font-weight: bold;
  margin: 3px;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
}

.codebuttons {
  font-size: var(--textsize-body__secondary);
}

/* Topic Row 'Jump to Forum' box */
@media only screen and (min-width: 320px) and (max-width: 750px) {
  select[name='f'] {
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
  }
}

/****************************************
   Form table cell styles, left/right/top
 *****************************************/

.pformstrip {
  background: var(--theme__background-main);
  font-weight: bold;
  padding: 2px 5px;
  margin-top: 1px;
}

.pformleft {
  background-color: var(--pformLeftBGColor);
  padding: 6px;
  margin-top: 1px;
  width: 25%;
  border-top: 1px solid var(--pformLeftBorderColor);
  border-right: 1px solid var(--pformLeftBorderColor);
}

.pformleftw {
  background-color: var(--pformLeftwBGColor);
  padding: 6px;
  margin-top: 1px;
  width: 40%;
  border-top: 1px solid var(--pformLeftwBorderColor);
  border-right: 1px solid var(--pformLeftwBorderColor);
}

.pformright {
  background-color: var(--pformRightBGColor);
  padding: 6px;
  margin-top: 1px;
  border-top: 1px solid var(--pformRightBorderColor);
}

/*******************************
   Mini Profile Seperators
  *******************************/

.postbit {
  border-bottom: 1px solid var(--postBitBorderColor);
  color: var(--postBitColor);
  background: var(--postBitBGColor);
  font-size: var(--postBitFontSize);
  padding: 6px 7px;
}

/********************************
      Miscellaneous
  ********************************/

/* image tag styles */
img {
  vertical-align: middle;
  border: 0px;
}
img.attach {
  border: 2px outset var(--imgAttachBorderColor);
  padding: 2px;
}

/* Forum Descriptions */
.desc {
  font-size: var(--textsize-body__primary);
}

/* Edited by text */
.edit {
  font-size: var(--textsize-body__secondary);
}

/* Warning CSS */
.warngood {
  color: green;
}
.warnbad {
  color: red;
}

/* Skin selector dropdown */
#skin_selector {
  margin: 10px 0;
}

/* Highlighted text in search */
.searchlite {
  color: red;
  font-weight: bold;
  background: yellow;
}

/***********************************
   Copyright: Removal is against Terms
  ************************************/

#copyright {
  font-size: var(--textsize-body__secondary);
  text-align: center;
  background: var(--theme__background-contrast);
  border: 1px solid var(--theme__color-primary);
}

#copyright .tableborder {
  border: none;
}
