/*=============================================== *
 * Jcink.com Forum Hosting Stylesheet
 * ==============================================
 * #Version:	1.0.2
 *=============================================== */

html {
	overflow-x: auto;
	font-size: 62.5%;
}

form {
	display: inline;
}

/****************************************
  Default Colors, Fonts, and Styles
 *****************************************/

:root {
	--formInputBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;

	--wrapperBoxShadow: 0 5px 10px rgba(0, 0, 0, 0.5);

	--paginationBoxShadow: 0pt 2px 3px rgba(0, 0, 0, 0.4);

	--submitButtonBoxShadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	--buttonBoxShadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

:root {
	/* Colors List */
	--eerie-black: #222222;
	--anti-flash-white: #efefef;
	--timberwolf: #d6d1cd;
	--battleship-grey: #969a97;
	--maroon: #800000;

	--background__primary: var(--maroon);
	--background__secondary: var(--battleship-grey);
	--background__accent: var(--timberwolf);
	--background__low-contrast: var(--anti-flash-white);
	--background__high-contrast: var(--eerie-black);

	--border__primary: var(--maroon);
	--border__secondary: var(--battleship-grey);
	--border__accent: var(--timberwolf);
	--border__low-contrast: var(--anti-flash-white);
	--border__high-contrast: var(--eerie-black);

	--link__primary: var(--maroon);
	--link__secondary: var(--battleship-grey);
	--link__accent: var(--timberwolf);
	--link__low-contrast: var(--anti-flash-white);
	--link__high-contrast: var(--eerie-black);

	--text__primary: var(--maroon);
	--text__secondary: var(--battleship-grey);
	--text__accent: var(--timberwolf);
	--text__low-contrast: var(--anti-flash-white);
	--text__high-contrast: var(--eerie-black);

	/* Font List */
	--arial: 'Arial', sans-serif;
	--courier: 'Courier', monospace;

	--font__title: var(--arial);
	--font__subheading: var(--arial);
	--font__body: var(--arial);
	--font__accent: var(--courier);

	/* Font Sizes */
	--size14px: 1.4rem;
	--size16px: 1.6rem;
	--size24px: 2.4rem;
	--size35px: 3.5rem;

	--textsize__title: var(--size35px);
	--textsize__subheading: var(--size24px);
	--textsize-body__primary: var(--size16px);
	--textsize-body__secondary: var(--size14px);
}

/****************************************
  Border Styles
 *****************************************/
.pformleftw,
.pformright {
	border-top: var(--border-solid1-1);
}

.pformleftw {
	border-right: var(--border-solid1-1);
}

#ucpmenu,
#ucpcontent,
#submenu,
#userlinks,
#QUOTE,
#CODE,
#delcookiesrow,
#mark-as-read-subto,
.pagination .pagination_current,
.tableborder,
.tablefill,
.plainborder,
.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox,
.newstext {
	border: var(--border-solid1-2);
}

.pformleft,
.thin {
	border-top: var(--border-solid1-2);
}

.pformleft {
	border-right: var(--border-solid1-2);
}

.postbit,
.thin {
	border-bottom: var(--border-solid1-2);
}

.button-large.closed {
	border: var(--border-solid1-3);
}

.pagination a:link,
.pagination a:visited,
.pagination a:active,
.pagination_first,
.pagination_last,
.pagination_page {
	border: var(--border-solid1-4);
}

img.attach {
	border: var(--border-outset2-1);
}

/****************************************
  Text Colors
 *****************************************/

.pagination a:hover,
.darkrow1,
.darkrow2,
.darkrow3,
.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox,
.pformstrip,
.postbit,
.desc {
	color: var(--text-color-1);
}

body,
table,
tr,
td,
.titlemedium {
	color: var(--text-color-2);
}

#userlinks td,
#QUOTE,
#CODE {
	color: var(--text-color-3);
}

a:hover {
	color: var(--text-color-4);
}

.unreg {
	color: var(--text-color-5);
}

.normalname {
	color: var(--text-color-6);
}

.searchlite {
	color: var(--text-color-7);
}

.signature {
	color: var(--text-color-8);
}

.titlemedium a:link,
.titlemedium a:visited,
.titlemedium a:active {
	color: var(--link-color-1);
}

.pagination a:link,
.pagination a:visited,
.pagination a:active,
.maintitle,
.maintitle a:link,
.maintitle a:visited,
.maintitle a:active,
.button-large,
.button-small,
.button-large.closed,
input[type='submit'],
input[type='button'],
input[type='reset'],
.toplinks a {
	color: var(--link-color-2);
}

a:link,
a:visited,
a:active,
#logo a,
#logo a:hover {
	color: var(--link-color-3);
}

/****************************************
  Background Colors
 *****************************************/

.postlinksbar,
.tableborder {
	background: var(--bg-color-1);
}

.activeuserstrip,
.darkrow1,
.darkrow2,
.darkrow3,
.titlemedium,
.pformstrip {
	background: var(--bg-color-2);
}

body {
	background: var(--bg-color-3);
}

#ucpmenu,
#ucpcontent,
.pagination a:hover,
.row1,
.row3,
.row4,
.row2,
.hlight,
.dlight,
.tablefill,
.tablepad,
.plainborder,
#QUOTE,
#CODE,
.pformleft,
.pformleftw,
.pformright,
#delcookiesrow,
#mark-as-read-subto,
.postbit,
.newstext {
	background: var(--bg-color-4);
}

#wrapper,
#userlinks,
.post1,
.post2,
.pagination .pagination_current,
.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
	background: var(--bg-color-5);
}

.pagination a:link,
.pagination a:visited,
.pagination a:active,
.pagination_first,
.pagination_last,
.pagination_page {
	background: var(--bg-color-6);
}

#submenu,
.maintitle,
.button-large,
.button-small,
.button-large.closed,
input[type='submit'],
input[type='button'],
input[type='reset'] {
	background: var(--bg-color-7);
}

.searchlite {
	background: var(--bg-color-8);
}

/****************************************
  Font Family Styles
 *****************************************/

body,
table,
tr,
td,
#QUOTE,
.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
	font-family: var(--font-family-1);
}

#CODE {
	font-family: var(--font-family-2);
}

/****************************************
  Text Sizes
 *****************************************/
.edit {
	font-size: var(--text-size-13);
}

.postdetails,
.postlinksbar,
.signature,
.codebuttons,
#delcookiesrow,
#mark-as-read-subto,
.copyright {
	font-size: var(--text-size-14);
}

.desc,
.unreg,
#QUOTE,
#CODE,
.button-small,
input[type='submit'],
input[type='button'],
input[type='reset'],
.toplinks a,
.postbit {
	font-size: var(--text-size-15);
}

body,
table,
tr,
td,
.normalname,
.postcolor,
.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
	font-size: var(--text-size-16);
}

#profilename {
	font-size: var(--text-size-32);
}

#logo a,
#logo a:hover {
	font-size: var(--text-size-40);
}

/****************************************
  Body Background & Text Style
 *****************************************/

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/****************************************
    Board Width
 *****************************************/

#wrapper {
	text-align: left;
	width: 1200px;
	margin: 20px auto 30px;
	box-shadow: var(--wrapperBoxShadow);
	padding-bottom: 5px;
}

#innerwrapper {
	padding: 0 10px;
}

/****************************************
    Link colors
 *****************************************/

a:link,
a:visited,
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/****************************************
    Profile styles 
 *****************************************/

#profilename {
	font-weight: bold;
}

/****************************************
    UserCP/My Controls styles
 *****************************************/

#ucpmenu {
	line-height: 150%;
	width: 22%;
}

#ucpmenu p {
	padding: 2px 5px 6px 9px;
	margin: 0px;
}

#ucpcontent {
	line-height: 150%;
	width: auto;
}

#ucpcontent p {
	padding: 10px;
	margin: 0px;
}

/****************************************
   Logo Strip
 *****************************************/

#logostrip {
	display: none;
}

#logo {
	min-height: 60px;
	text-align: left;
	margin-top: 5px;
	padding: 20px 20px 5px;
}

#logo a,
#logo a:hover {
	text-decoration: none;
	font-weight: bold;
}

/****************************************
   Navigation Bar / Submenu
 *****************************************/

#submenu {
	height: 30px;
	margin: 0 10px;
	width: calc(100% - 20px);
	box-sizing: border-box;
}

table#submenu > tbody {
	display: none;
}

#navi br {
	display: none;
}

#navstrip {
	font-weight: bold;
	padding: 6px 0px 16px 0px;
}

/**************************************************
  User Links Menu (Messages / View new posts / etc )
 ***************************************************/

#userlinks {
	margin: 0 10px;
	width: calc(100% - 20px);
	box-sizing: border-box;
}

#userlinks a {
	text-decoration: underline;
	padding: 1px;
}

#userlinks a:hover {
	text-decoration: none;
}

/****************************************
    Topic View styles
 *****************************************/

.activeuserstrip {
	padding: 6px;
}

.normalname {
	font-weight: bold;
}

.unreg {
	font-weight: bold;
}

.postcolor {
	line-height: 160%;
}

.postlinksbar {
	padding: 1px 5px;
	padding: 1px;
	margin-top: 1px;
}

.signature {
	line-height: 150%;
}

/*******************************
  Pagination e.g. [1],2,3 ...
 *******************************/

.pagination .pagination_current,
.pagination a {
	padding: 2px 5px;
}

.pagination a:link,
.pagination a:visited,
.pagination a:active {
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
	box-shadow: var(--paginationBoxShadow);
}

.pagination a:hover {
	text-decoration: none;
	box-shadow: var(--paginationBoxShadow);
}

.pagination .pagination_current {
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

.pagination_pagetxt {
	display: none;
}

/****************************************
    Global general table/div row styles
 *****************************************/

.row1,
.row3,
.row4,
.row2 {
	padding: 5px;
}

#boardstats .row2 {
	text-align: center;
}

td.darkrow2 {
	display: none;
}

.darkrow3 {
	padding: 3px;
}

/****************************************
    Top table bars / gradient holders 
 *****************************************/

.maintitle {
	font-weight: bold;
	padding: 8px;
}

.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {
	text-decoration: none;
}

.maintitle a:hover {
	text-decoration: underline;
}

/****************************************
   Bar directly below the maintitles 
 *****************************************/

.titlemedium {
	font-weight: bold;
	padding: 2px 6px;
	margin: 0px;
}

.titlemedium a:link,
.titlemedium a:visited,
.titlemedium a:active {
	text-decoration: none;
}

/****************************************
   Table & Div Borders 
 *****************************************/

.tableborder {
	padding: 0px;
	margin: 0;
}

.tablefill,
.tablepad {
	padding: 6px;
}

.tablebasic {
	width: 100%;
	padding: 0;
	margin: 0px;
	border: 0px;
}

/****************************************
   QUOTE and CODE BBCode boxes
 *****************************************/

#QUOTE,
#CODE {
	white-space: normal;
	padding: 2px;
	margin-top: 2px;
}

/**********************************************
   Input buttons, e.g. submit, text input, etc
 ***********************************************/

.button-large {
	border-radius: 3px;
	padding: 5px 12px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	box-shadow: var(--buttonBoxShadow);
	font-weight: bold;
	min-width: 75px;
	display: inline-block;
}

.button-small {
	border-radius: 3px;
	font-weight: bold;
	margin: 3px;
	padding: 4px 7px;
	box-shadow: var(--buttonBoxShadow);
	text-decoration: none;
	min-width: 50px;
	max-width: 80px;
}

.post-buttons-top {
	margin-top: 3px;
}

.button-large.closed {
	padding: 7px 12px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	font-weight: bold;
}

.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
	border-radius: 2px;
	padding: 2px;
	vertical-align: middle;
	box-shadow: var(--formInputBoxShadow);
}

input[type='submit'],
input[type='button'],
input[type='reset'] {
	border-radius: 3px;
	box-shadow: var(--submitButtonBoxShadow);
	font-weight: bold;
	margin: 3px;
	padding: 2px 6px;
	text-decoration: none;
	border: none;
}

/****************************************
   Form table cell styles, left/right/top
 *****************************************/

.pformstrip {
	font-weight: bold;
	padding: 2px 5px;
	margin-top: 1px;
}

.pformleft {
	padding: 6px;
	margin-top: 1px;
	width: 25%;
}

.pformleftw {
	padding: 6px;
	margin-top: 1px;
	width: 40%;
}

.pformright {
	padding: 6px;
	margin-top: 1px;
}

/****************************************
    Delete all cookies / mark read
 *****************************************/

#delcookiesrow,
#mark-as-read-subto {
	padding: 5px;
	width: 260px;
	float: right;
	margin-top: -3px;
	padding-left: 1px;
}

#mark-as-read-subto {
	float: none;
	padding-top: 3px;
}

/*******************************
       Board Statistics Links
  *******************************/

.toplinks a {
	text-decoration: none;
}

.toplinks {
	text-align: right;
	color: transparent;
}

/*******************************
   Mini Profile Seperators
  *******************************/

.postbit {
	padding: 6px 7px;
}

/********************************
      Miscellaneous
  ********************************/

/* image tag styles */
img {
	vertical-align: middle;
	border: 0px;
}
img.attach {
	padding: 2px;
}

/* Topic Macros */

.wrapmini {
	float: left;
}

/* Warning CSS */
.warngood {
	color: green;
}
.warnbad {
	color: red;
}

/* Skin selector dropdown */
#skin_selector {
	margin: 10px 0;
}

/* Online users list row */
.thin {
	padding: 6px 0px 6px 0px;
	line-height: 140%;
	margin: 2px 0px 2px 0px;
}

/* Latest news area */
.newstext {
	padding: 6px 6px 2px 6px;
	margin-bottom: 10px;
}

/* Highlighted text in search */
.searchlite {
	font-weight: bold;
}

/***********************************
   Copyright: Removal is against Terms
  ************************************/

.copyright {
	line-height: var(--text-size-16);
}
