/*=============================================== *
 * Jcink.com Forum Hosting Stylesheet
 * ==============================================
 * #Version:	1.0.2
 *=============================================== */

html {
	overflow-x: auto;
}
form {
	display: inline;
}

/****************************************
  Default Colors, Fonts, and Styles
 *****************************************/

:root {
	--bodyFontFamily: Arial, sans-serif;
	--tableFontFamily: Arial, sans-serif;
	--searchBarFontFamily: Arial, sans-serif;
	--quoteFontFamily: Arial, sans-serif;
	--formInputFontFamily: Arial, sans-serif;

	--codeFontFamily: Courier, Courier New, Verdana, Arial;

	--editSize: 9px;

	--postDetailsFontSize: 10px;
	--postLinksBarFontSize: 10px;
	--signatureFontSize: 10px;
	--codeButtonsFontSize: 10px;
	--delCookiesRowFontSize: 10px;
	--copyrightFontSize: 10px;

	--calendarDateFontSize: 11px;
	--unregNameFontSize: 11px;
	--quoteFontSize: 11px;
	--codeFontSize: 11px;
	--buttonSmallFontSize: 11px;
	--submitButtonFontSize: 11px;
	--openTabFontSize: 11px;
	--closedTabFontSize: 11px;
	--topLinksFontSize: 11px;
	--postBitFontSize: 11px;
	--descFontSize: 11px;

	--bodyFontSize: 12px;
	--tableFontSize: 12px;
	--searchInputFontSize: 12px;
	--normalNameFontSize: 12px;
	--postColorFontSize: 12px;
	--formInputFontSize: 12px;

	--subMenuFontSize: 13px;

	--calendarNameFontSize: 22px;
	--photoTitleFontSize: 24px;
	--profileNameFontSize: 28px;
	--logoLinkFontSize: 36px;

	--photoTitleBorderColor: #000;
	--searchInputFocusColor: #000;
	--paginationLinkHoverColor: #000;
	--darkRowColor: #000;
	--formInputColor: #000;
	--pformStripColor: #000;
	--postBitColor: #000;
	--descColor: #000;

	--bodyFontColor: #222;
	--tableFontColor: #222;
	--titlemediumColor: #222;
	--titlemediumLinkColor: #222;

	--pformLeftwBorderColor: #232323;
	--pformRightBorderColor: #232323;

	--userLinksTDColor: #333;
	--quoteColor: #333;
	--codeColor: #333;

	--ucpContentBorderColor: #545454;
	--userLinksBorderColor: #545454;
	--paginationCurrentBorderColor: #545454;
	--formInputBorderColor: #545454;
	--pformLeftBorderColor: #545454;
	--openTabBorderColor: #545454;
	--closedTabBorderColor: #545454;
	--delCookiesRowBorderColor: #545454;
	--thinBorderColor: #545454;

	--ucpMenuBorderColor: #555;
	--subMenuBorderColor: #555;
	--calendarDateColor: #555;
	--tableborderBorderColor: #555;
	--tablebasicBorderColor: #555;
	--quoteBorderColor: #555;
	--codeBorderColor: #555;
	--imgAttachBorderColor: #555;
	--newstextBorderColor: #555;

	--linkHoverColor: #808080;
	--searchInputColor: #808080;

	--tableborderBGColor: #c0c0c0;
	--postBitBorderColor: #c0c0c0;

	--postLinksBarBGColor: #cccccc;

	--activeUserStripBGColor: #d6d6d6;
	--darkRowBGColor: #d6d6d6;
	--pformStripBGColor: #d6d6d6;

	--searchBarBorderColor: #d8d8d8;
	--titlemediumBGColor: #d8d8d8;
	--buttonLargeBorderColor: #d8d8d8;

	--bodyBGColor: #e1e1e1;

	--paginationLinkHoverBGColor: #efeeee;

	--ucpMenuBGColor: #efefef;
	--ucpContentBGColor: #efefef;
	--rowBGColor: #efefef;
	--hlightBGColor: #efefef;
	--dlightBGColor: #efefef;
	--tablefillBGColor: #efefef;
	--tablepadBGColor: #efefef;
	--quoteBGColor: #efefef;
	--codeBGColor: #efefef;
	--pformLeftBGColor: #efefef;
	--pformLeftwBGColor: #efefef;
	--pformRightBGColor: #efefef;
	--delCookiesRowBGColor: #efefef;
	--postBitBGColor: #efefef;
	--newstextBGColor: #efefef;

	--calendarDateBGColor: #f2f2f2;
	--userLinksBGColor: #f2f2f2;
	--post1BGColor: #f2f2f2;
	--post2BGColor: #f2f2f2;

	--wrapperBGColor: #fbfbfb;
	--mobileBGColor: #fbfbfb;

	--searchBarBGColor: #fff;
	--submenuLinkColor: #fff;
	--paginationLinkColor: #fff;
	--paginationCurrentBGColor: #fff;
	--maintitleLinkColor: #fff;
	--buttonLargeLinkColor: #fff;
	--buttonSmallLinkColor: #fff;
	--formInputBGColor: #fff;
	--submitButtonLinkColor: #fff;
	--opentabColor: #fff;
	--closedtabColor: #fff;
	--topLinksColor: #fff;

	--buttonLargeColor: #660000;

	--paginationLinkBGColor: #740300;
	--paginationFirstLastBGColor: #740300;

	--linkColor: #800000;
	--logoLinkColor: #800000;
	--searchButtonBGColor: #800000;
	--submenuBGColor: #800000;
	--paginationBorderColor: #800000;
	--maintitleBGColor: #800000;
	--buttonLargeBGColor: #800000;
	--buttonSmallBGColor: #800000;
	--submitButtonBGColor: #800000;
	--opentabBGColor: #800000;
	--closedtabBGColor: #800000;

	--unregColor: #900;

	--normalNameColor: #003;
	--signatureColor: #339;
	--searchliteColor: #f00;
	--searchliteBGColor: #ff0;

	--searchBarBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
	--formInputBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;

	--wrapperBoxShadow: 0 5px 10px rgba(0, 0, 0, 0.5);

	--paginationBoxShadow: 0pt 2px 3px rgba(0, 0, 0, 0.4);

	--submitButtonBoxShadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	--buttonBoxShadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

	--searchButtonImage: url(//files.jcink.net/themes/default/magnifying-glass.png);

	--userLinksBGImage: url(//files.jcink.net/themes/default/white-gradient.png);

	--postLinksBarBGImage: url(//files.jcink.net/themes/default/thin-gray-gradient.png);

	--paginationBGImage: url(//files.jcink.net/themes/default/gray-gradient.png);
	--titlemediumBGImage: url(//files.jcink.net/themes/default/gray-gradient.png);
	--pformStripBGImage: url(//files.jcink.net/themes/default/gray-gradient.png);

	--buttonLargeBGImage: url(//files.jcink.net/themes/default/red-gradient.png);
	--submitButtonImage: url(//files.jcink.net/themes/default/red-gradient.png);
	--opentabBGImage: url(//files.jcink.net/themes/default/red-gradient.png);
	--closedtabBGImage: url(//files.jcink.net/themes/default/red-gradient.png);

	--submenuBGImage: url(//files.jcink.net/themes/default/red-gradient-glass.png);
	--maintitleBGImage: url(//files.jcink.net/themes/default/red-gradient-glass.png);
}

/****************************************
  Body Background & Text Style
 *****************************************/

body {
	font-family: var(--bodyFontFamily);
	font-size: var(--bodyFontSize);
	color: var(--bodyFontColor);
	margin: 0px;
	padding: 0px;
	background: var(--bodyBGColor);
	text-align: center;
}

/****************************************
    Table Styles
 *****************************************/

table,
tr,
td {
	font-family: var(--tableFontFamily);
	font-size: var(--tableFontSize);
	color: var(--tableFontColor);
}

/****************************************
    Board Width
 *****************************************/

#wrapper {
	text-align: left;
	width: 980px;
	margin: 20px auto 30px;
	background: var(--wrapperBGColor);
	box-shadow: var(--wrapperBoxShadow);
	padding-bottom: 5px;
}

#innerwrapper {
	padding: 0 10px;
}

/****************************************
    Link colors
 *****************************************/

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: var(--linkColor);
}
a:hover {
	color: var(--linkHoverColor);
	text-decoration: none;
}

/****************************************
    Profile styles 
 *****************************************/

#profilename {
	font-size: var(--profileNameFontSize);
	font-weight: bold;
}

#photowrap {
	padding: 6px;
}

#phototitle {
	font-size: var(--photoTitleFontSize);
	border-bottom: 1px solid var(--photoTitleBorderColor);
}

#photoimg {
	text-align: center;
	margin-top: 15px;
}

/****************************************
    UserCP/My Controls styles
 *****************************************/

#ucpmenu {
	line-height: 150%;
	width: 22%;
	border: 1px solid var(--ucpMenuBorderColor);
	background: var(--ucpMenuBGColor);
}

#ucpmenu p {
	padding: 2px 5px 6px 9px;
	margin: 0px;
}

#ucpcontent {
	background: var(--ucpContentBGColor);
	border: 1px solid var(--ucpContentBorderColor);
	line-height: 150%;
	width: auto;
}

#ucpcontent p {
	padding: 10px;
	margin: 0px;
}

/****************************************
   Logo Strip
 *****************************************/

#logostrip {
	display: none;
}

#logo {
	min-height: 60px;
	text-align: left;
	margin-top: 5px;
	padding: 20px 20px 5px;
}

#logo a,
#logo a:hover {
	font-size: var(--logoLinkFontSize);
	text-decoration: none;
	font-weight: bold;
	color: var(--logoLinkColor);
}

/****************************************
   Search Bar 
 *****************************************/

#searchbar {
	display: block;
	float: right;
	position: relative;
	right: 10px;
	top: 8px;
}

#searchbar .search-container {
	background: var(--searchBarBGColor);
	box-shadow: var(--searchBarBoxShadow);
	border: 1px solid var(--searchBarBorderColor);
	display: block;
	height: 26px;
	position: relative;
	width: 200px;
}

#searchbar .search-input {
	background: none repeat scroll 0 0 transparent;
	border: 0;
	color: var(--searchInputColor);
	font-size: var(--searchInputFontSize);
	width: 192px;
	height: 26px;
	font-family: var(--searchBarFontFamily);
	padding: 1px 0 0 8px;
}

#searchbar .search-input:focus {
	color: var(--searchInputFocusColor);
}

#searchbar .search-button {
	background: var(--searchButtonBGColor) var(--searchButtonImage);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 0;
	bottom: 0;
	margin: 0;
	border-radius: 0;
	display: block;
	height: 26px;
	padding: 0;
	position: absolute;
	right: 0;
	text-indent: -3000em;
	top: 0;
	width: 26px;
	cursor: pointer;
	box-shadow: none;
}

/****************************************
   Navigation Bar / Submenu
 *****************************************/

#submenu {
	font-size: var(--subMenuFontSize);
	border: 1px 0 solid var(--subMenuBorderColor);
	background: var(--submenuBGColor) var(--submenuBGImage);
	background-position: center center;
	margin-bottom: 3px;
}

#submenu img {
	display: none;
}

#submenu a:link,
#submenu a:visited,
#submenu a:active {
	text-decoration: none;
	color: var(--submenuLinkColor) !important;
	padding: 7px 7px;
	font-weight: bold;
}

#submenu a:hover {
	color: var(--submenuLinkColor) !important;
	text-decoration: underline;
}

#navi br {
	display: none;
}

#navstrip {
	font-weight: bold;
	padding: 6px 0px 16px 0px;
}

/****************************************
    Calendar styling
 *****************************************/

.caldate {
	text-align: right;
	font-weight: bold;
	font-size: var(--calendarDateFontSize);
	color: var(--calendarDateColor);
	background: var(--calendarDateBGColor);
	padding: 4px;
	margin: 0px;
}

#calendarname {
	font-size: var(--calendarNameFontSize);
	font-weight: bold;
}

#padandcenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 14px 0px 14px 0px;
}

/**************************************************
  User Links Menu (Messages / View new posts / etc )
 ***************************************************/

#userlinks {
	border: 1px solid var(--userLinksBorderColor);
	background: var(--userLinksBGColor) var(--userLinksBGImage);
	list-style: none;
	width: 960px;
	margin: 0 auto;
}

#userlinks td {
	color: var(--userLinksTDColor);
}

#userlinks a {
	text-decoration: underline;
	padding: 1px;
}

#userlinks a:hover {
	text-decoration: none;
}

/****************************************
    Topic View styles
 *****************************************/

.activeuserstrip {
	background: var(--activeUserStripBGColor);
	padding: 6px;
}

.normalname {
	font-size: var(--normalNameFontSize);
	font-weight: bold;
	color: var(--normalNameColor);
}

.unreg {
	font-size: var(--unregNameFontSize);
	font-weight: bold;
	color: var(--unregColor);
}

.post1 {
	background: var(--post1BGColor);
}

.post2 {
	background: var(--post2BGColor);
}

.postdetails {
	font-size: var(--postDetailsFontSize);
}

.postcolor {
	font-size: var(--postColorFontSize);
	line-height: 160%;
}

.postlinksbar {
	padding: 1px 5px;
	background: var(--postLinksBarBGColor) var(--postLinksBarBGImage);
	padding: 1px;
	margin-top: 1px;
	font-size: var(--postLinksBarFontSize);
}

.signature {
	font-size: var(--signatureFontSize);
	color: var(--signatureColor);
	line-height: 150%;
}

/*******************************
  Pagination e.g. [1],2,3 ...
 *******************************/

.pagination .pagination_current,
.pagination a {
	padding: 2px 5px;
}

.pagination a:link,
.pagination a:visited,
.pagination a:active {
	border: 1px solid var(--paginationBorderColor);
	border-radius: 3px;
	background: var(--paginationLinkBGColor);
	padding-left: 6px;
	padding-right: 6px;
	color: var(--paginationLinkColor);
	text-decoration: none;
	box-shadow: var(--paginationBoxShadow);
}

.pagination a:hover {
	background: var(--paginationLinkHoverBGColor);
	text-decoration: none;
	color: var(--paginationLinkHoverColor);
	box-shadow: var(--paginationBoxShadow);
	background: var(--paginationBGImage);
}

.pagination .pagination_current {
	background: none repeat scroll 0% 0% var(--paginationCurrentBGColor)
		var(--paginationBGImage);
	border: 1px solid var(--paginationCurrentBorderColor);
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

.pagination_first,
.pagination_last,
.pagination_page {
	background: none repeat scroll 0% 0% var(--paginationFirstLastBGColor);
	border: 1px solid var(--paginationBorderColor);
}

.pagination_pagetxt {
	display: none;
}

/****************************************
    Global general table/div row styles
 *****************************************/

.row1,
.row3,
.row4,
.row2 {
	background: var(--rowBGColor);
	padding: 5px;
}

#boardstats .row2 {
	text-align: center;
}

.darkrow1,
.darkrow2,
.darkrow3 {
	background: var(--darkRowBGColor);
	color: var(--darkRowColor);
}

td.darkrow2 {
	display: none;
}

.darkrow3 {
	padding: 3px;
}

.hlight {
	background: var(--hlightBGColor);
}
.dlight {
	background: var(--dlightBGColor);
}

/****************************************
    Top table bars / gradient holders 
 *****************************************/

.maintitle {
	background: var(--maintitleBGColor) var(--maintitleBGImage);
	font-weight: bold;
	padding: 8px;
	color: var(--maintitleLinkColor);
}

.maintitle a:link,
.maintitle a:visited,
.maintitle a:active {
	text-decoration: none;
	color: var(--maintitleLinkColor);
}

.maintitle a:hover {
	text-decoration: underline;
}

/****************************************
   Bar directly below the maintitles 
 *****************************************/

.titlemedium {
	font-weight: bold;
	color: var(--titlemediumColor);
	padding: 2px 6px;
	margin: 0px;
	background: var(--titlemediumBGColor) var(--titlemediumBGImage);
}

.titlemedium a:link,
.titlemedium a:visited,
.titlemedium a:active {
	text-decoration: none;
	color: var(--titlemediumLinkColor);
}

/****************************************
   Table & Div Borders 
 *****************************************/

.tableborder {
	background: var(--tableborderBGColor);
	border: 1px solid var(--tableborderBorderColor);
	padding: 0px;
	margin: 0;
}

.tablefill {
	background: var(--tablefillBGColor);
	border: 1px solid var(--tableborderBorderColor);
	padding: 6px;
}

.tablepad {
	background: var(--tablepadBGColor);
	padding: 6px;
}

.tablebasic {
	width: 100%;
	padding: 0;
	margin: 0px;
	border: 0px;
}

.plainborder {
	border: 1px solid var(--tableborderBorderColor);
	background: var(--tablefillBGColor);
}

/****************************************
   QUOTE and CODE BBCode boxes
 *****************************************/

#QUOTE {
	white-space: normal;
	font-family: var(--quoteFontFamily);
	font-size: var(--quoteFontSize);
	color: var(--quoteColor);
	background: var(--quoteBGColor);
	padding: 2px;
	border: 1px solid var(--quoteBorderColor);
	margin-top: 2px;
}

#CODE {
	white-space: normal;
	font-family: var(--codeFontFamily);
	font-size: var(--codeFontSize);
	color: var(--codeColor);
	background: var(--codeBGColor);
	padding: 2px;
	border: 1px solid var(--codeBorderColor);
	margin-top: 2px;
}

/**********************************************
   Input buttons, e.g. submit, text input, etc
 ***********************************************/

.button-large {
	background: var(--buttonLargeBGColor);
	border-radius: 3px;
	padding: 5px 12px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	box-shadow: var(--buttonBoxShadow);
	color: var(--buttonLargeLinkColor);
	font-weight: bold;
	min-width: 75px;
	display: inline-block;
}

.button-small {
	background: var(--buttonSmallBGColor);
	border-radius: 3px;
	color: var(--buttonSmallLinkColor);
	font-weight: bold;
	font-size: var(--buttonSmallFontSize);
	margin: 3px;
	padding: 4px 7px;
	box-shadow: var(--buttonBoxShadow);
	text-decoration: none;
	min-width: 50px;
	max-width: 80px;
}

.post-buttons-top {
	margin-top: 3px;
}

.button-large.closed {
	background: var(--buttonLargeBGColor);
	padding: 7px 12px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	border: 1px solid var(--buttonLargeBorderColor);
	color: var(--buttonLargeColor);
	font-weight: bold;
}

.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
	border-radius: 2px;
	background: var(--formInputBGColor);
	border: 1px solid var(--formInputBorderColor);
	color: var(--formInputColor);
	font-family: var(--formInputFontFamily);
	font-size: var(--formInputFontSize);
	padding: 2px;
	vertical-align: middle;
	box-shadow: var(--formInputBoxShadow);
}

input[type='submit'],
input[type='button'],
input[type='reset'] {
	background: #800000 url(//files.jcink.net/themes/default/red-gradient.png);
	border-radius: 3px;
	box-shadow: var(--submitButtonBoxShadow);
	color: var(--submitButtonLinkColor);
	font-size: var(--submitButtonFontSize);
	font-weight: bold;
	margin: 3px;
	padding: 2px 6px;
	text-decoration: none;
	border: none;
}

.codebuttons {
	font-size: var(--codeButtonsFontSize);
}

/****************************************
   Form table cell styles, left/right/top
 *****************************************/

.pformstrip {
	background: var(--pformStripBGColor) var(--pformStripBGImage);
	color: var(--pformStripColor);
	font-weight: bold;
	padding: 2px 5px;
	margin-top: 1px;
}

.pformleft {
	background: var(--pformLeftBGColor);
	padding: 6px;
	margin-top: 1px;
	width: 25%;
	border-top: 1px solid var(--pformLeftBorderColor);
	border-right: 1px solid var(--pformLeftBorderColor);
}

.pformleftw {
	background: var(--pformLeftwBGColor);
	padding: 6px;
	margin-top: 1px;
	width: 40%;
	border-top: 1px solid var(--pformLeftwBorderColor);
	border-right: 1px solid var(--pformLeftwBorderColor);
}

.pformright {
	background: var(--pformRightBGColor);
	padding: 6px;
	margin-top: 1px;
	border-top: 1px solid var(--pformRightBorderColor);
}

/****************************************
  Tabs on the portal profiles + sections
 *****************************************/

.opentab {
	color: var(--opentabColor);
	padding: 8px;
	float: left;
	width: auto;
	background: var(--opentabBGColor) var(--opentabBGImage);
	margin-top: 3px;
	margin-right: 2px;
	font-size: var(--openTabFontSize);
	border: 1px solid var(--openTabBorderColor);
}

.closedtab {
	color: var(--closedtabColor);
	padding: 7px;
	float: left;
	width: auto;
	background: var(--closedtabBGColor) var(--closedtabBGImage);
	margin-top: 6px;
	margin-right: 2px;
	font-size: var(--closedTabFontSize);
	border-top: 1px solid var(--closedTabBorderColor);
	border-right: 1px solid var(--closedTabBorderColor);
	border-left: 1px solid var(--closedTabBorderColor);
}

.positiontab {
	height: 34px;
	margin-left: 2px;
}

/****************************************
    Delete all cookies / mark read
 *****************************************/

#delcookiesrow,
#mark-as-read-subto {
	background: var(--delCookiesRowBGColor);
	border: 1px solid var(--delCookiesRowBorderColor);
	font-size: var(--delCookiesRowFontSize);
	padding: 5px;
	width: 260px;
	float: right;
	margin-top: -3px;
	padding-left: 1px;
}

#mark-as-read-subto {
	float: none;
	padding-top: 3px;
}

/*******************************
       Board Statistics Links
  *******************************/

.toplinks a {
	color: var(--topLinksColor);
	font-size: var(--topLinksFontSize);
	text-decoration: none;
}

.toplinks {
	margin: 0 11px -37px 0;
	text-align: right;
	color: transparent;
}

/*******************************
   Mini Profile Seperators
  *******************************/

.postbit {
	border-bottom: 1px solid var(--postBitBorderColor);
	color: var(--postBitColor);
	background: var(--postBitBGColor);
	font-size: var(--postBitFontSize);
	padding: 6px 7px;
}

/********************************
      Miscellaneous
  ********************************/

/* image tag styles */
img {
	vertical-align: middle;
	border: 0px;
}
img.attach {
	border: 2px outset var(--imgAttachBorderColor);
	padding: 2px;
}

/* Forum Descriptions */
.desc {
	font-size: var(--descFontSize);
	color: var(--descColor);
}

/* Edited by text */
.edit {
	font-size: var(--editSize);
}

/* Topic Macros */

.wrapmini {
	float: left;
}

/* Warning CSS */
.warngood {
	color: green;
}
.warnbad {
	color: red;
}

/* Skin selector dropdown */
#skin_selector {
	margin: 10px 0;
}

/* Online users list row */
.thin {
	padding: 6px 0px 6px 0px;
	line-height: 140%;
	margin: 2px 0px 2px 0px;
	border-top: 1px solid var(--thinBorderColor);
	border-bottom: 1px solid var(--thinBorderColor);
}

/* Latest news area */
.newstext {
	background: var(--newstextBGColor);
	border: 1px solid var(--newstextBorderColor);
	padding: 6px 6px 2px 6px;
	margin-bottom: 10px;
}

/* Highlighted text in search */
.searchlite {
	color: var(--searchliteColor);
	font-weight: bold;
	background: var(--searchliteBGColor);
}

/****************************************
   Mobile-specific Styles
  *****************************************/

#mobile {
	background: var(--mobileBGColor);
}

/***********************************
   Copyright: Removal is against Terms
  ************************************/

.copyright {
	font-size: var(--copyrightFontSize);
	line-height: 12px;
}
