<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><% TITLE %></title>
    <!-- DO NOT ADD TO OR EDIT ANYTHING ABOVE THIS LINE -->

    <link
      rel="icon"
      href="https://via.placeholder.com/16"
      type="image/png"
      sizes="16x16" />

    <!-- START CSS -->
    <% CSS %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- end CSS -->

    <!-- start JavaScript files -->
    <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
    <script src="https://files.jcink.net/html/catcollapse.js" async></script>
    <script>
      // set dark/light mode before page load
      if (localStorage.theme) {
        document.documentElement.setAttribute('data-theme', localStorage.theme);
      } else {
        // if you want to change the default from light to dark, change 'light' to 'dark'
        document.documentElement.setAttribute('data-theme', 'light');
      }
    </script>
    <!-- end JavaScript files -->
  </head>

  <body id="<!-- |input_act| -->" class="code-<!-- |input_CODE| -->">
    <!-- start site wrapper -->
    <div id="wrapper">
      <!-- start navigation bar -->
      <div id="navigation-wrapper">
        <!-- start nav top bar -->
        <div id="navigation">
          <!-- home and theme toggle buttons -->
          <div class="nav__icons--left">
            <a href="/index.php" title="Home">
              <i class="fas fa-home icons"></i>
            </a>
            <a href="#" title="Toggle Theme">
              <i class="fas fa-lightbulb icons"></i>
            </a>
          </div>
          <!-- end home and theme toggle buttons -->
          <!-- menu toggle button -->
          <div class="nav__menu">
            <button class="button-action">
              Menu
              <i
                class="fa-solid fa-circle-chevron-down rotate"
                title="Toggle Menu"></i>
            </button>
          </div>
          <!-- end menu toggle button -->
          <!-- top and bottom buttons -->
          <div class="nav__icons--right">
            <a href="#" title="Back to Top">
              <i id="click-up" class="fas fa-arrow-up icons"></i>
            </a>
            <a href="#" title="Down to Bottom">
              <i id="click-down" class="fas fa-arrow-down icons"></i>
            </a>
          </div>
          <!-- end top and bottom buttons -->
          <!-- site breadcrumbs -->
          <div id="navi"><% NAVIGATION %></div>
          <!-- end site breadcrumbs -->
        </div>
        <!-- end nav top bar -->
        <!-- start dropdown menu -->
        <div id="nav__userlinks" class="dropdown-menu">
          <div class="nav__userlinks--users">
            <!-- start guest info -->
            <div class="g-<!-- |g_id| -->" style="display: none">
              <strong> HI GUEST! </strong>
            </div>
            <div class="g-<!-- |g_id| --> logging" style="display: none">
              <a href="/index.php?act=Login&CODE=00" title="Log In">
                LOG IN <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
              </a>
              <a href="/index.php?act=Reg&CODE=00" title="Register">
                REGISTER <i class="fa-solid fa-image-portrait fa-lg"></i>
              </a>
            </div>
            <!-- end guest info -->
            <!-- start logged in user info -->
            <strong class="m-<!-- |g_id| -->">
              <!-- |name| -->
            </strong>
            <a
              href="?act=Login&CODE=03"
              title="Log Out"
              id="log-out"
              class="m-<!-- |g_id| -->">
              Log Out <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
            </a>
            <div class="m-<!-- |g_id| --> account-switcher">
              <span id="subacct_link">
                <button
                  type="button"
                  onclick="document.getElementById('subacct_link').innerHTML=document.getElementById('sub_bar').innerHTML;">
                  Switch Account
                </button>
              </span>
            </div>
          </div>

          <div class="view-profile m-<!-- |g_id| -->">
            <a href="?showuser=<!-- |id| -->" title="View Profile">
              <i class="fa-solid fa-circle-user"></i> User Profile
            </a>
          </div>
          <div class="my-controls m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=00" title="User CP">
              <i class="fa-solid fa-gear"></i> User CP
            </a>
          </div>
          <div class="active-topics m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getactive" title="View Active Topics">
              <i class="fa-solid fa-bullhorn"></i> Active Topics
            </a>
          </div>
          <div class="my-messages m-<!-- |g_id| -->">
            <a href="?act=Msg&CODE=01" title="View Inbox">
              <i class="fa-solid fa-inbox"></i>
              <!-- |new_msg| -->
              messages
            </a>
          </div>
          <div class="view-new-posts m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getnew" title="View New Posts">
              <i class="fa-solid fa-envelope-open"></i> New Posts
            </a>
          </div>
          <div class="mu-alerts m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=alerts" title="View All Alerts">
              <i class="fa-solid fa-bell"></i>
              <!-- |new_alerts| -->
              alerts
            </a>
          </div>
          <div class="admin-cp m-<!-- |g_id| -->">
            <a
              href="/admin.php"
              class="acp-<!-- |g_access_cp| -->"
              target="_blank"
              title="Admin CP">
              <i class="fa-solid fa-screwdriver-wrench"></i> Admin CP
            </a>
          </div>
          <div class="mod-cp m-<!-- |g_id| -->">
            <a
              href="?act=modcp"
              class="mcp-<!-- |g_access_cp| -->"
              title="Mod CP">
              <i class="fa-solid fa-hammer"></i>
              <!-- |modcp_issues| -->
              Mod CP
            </a>
          </div>
          <!-- end logged in user info -->
          <!-- start quick links area -->
          <div class="quicklinks-1">
            <a href="" title="Quick Link 1">
              <i class="fa-solid fa-link"></i> Quick Link 1
            </a>
          </div>

          <div class="quicklinks-2">
            <a href="" title="Quick Link 2">
              <i class="fa-solid fa-link"></i> Quick Link 2
            </a>
          </div>

          <div class="quicklinks-3">
            <a href="" title="Quick Link 3">
              <i class="fa-solid fa-link"></i> Quick Link 3
            </a>
          </div>

          <div class="quicklinks-4">
            <a href="" title="Quick Link 4">
              <i class="fa-solid fa-link"></i> Quick Link 4
            </a>
          </div>

          <div class="quicklinks-5">
            <a href="" title="Quick Link 5">
              <i class="fa-solid fa-link"></i> Quick Link 5
            </a>
          </div>

          <div class="quicklinks-6">
            <a href="" title="Quick Link 6">
              <i class="fa-solid fa-link"></i> Quick Link 6
            </a>
          </div>
          <!-- end quick links area -->
        </div>
        <!-- end dropdown menu -->
      </div>
      <!-- end navigation bar -->

      <!-- start header area -->
      <div id="header">
        <div id="logo">
          <a href="index.php"><!-- |board_name| --></a>
        </div>
        <% BOARD HEADER %>
      </div>
      <!-- end header area -->

      <!-- start forum -->
      <div id="innerwrapper"><% BOARD %></div>
      <!-- end forum -->

      <!-- start footer -->
      <div id="footer">
        <div id="skin_selector"><% SKIN_SELECTOR %></div>
        <% AFFS %>
        <div id="copyright">
          <% COPYRIGHT %>
          <div class="skin-info">Jcink Base 2.0 by Luna of Free Codes</div>
        </div>
      </div>
      <!-- end footer -->
    </div>
    <!-- end site wrapper -->

    <!-- all of your scripts for the site, unless your install guide tells you otherwise, should go BELOW this comment -->
    <script>
      $(document).ready(function () {
        /* Toggle Dropdown Menu */
        $('.button-action').click(function () {
          const navbarHeight = $('#navigation-wrapper').outerHeight();
          const dropdownMenu = $('.dropdown-menu');
          dropdownMenu.css('top', `${navbarHeight + 10}px`);

          $('#nav__userlinks').toggleClass('display-menu');
          $('.rotate').toggleClass('down');
        });

        /* Scroll to Top/Bottom Buttons */
        $('#click-up').click(function (event) {
          event.preventDefault();
          window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        $('#click-down').click(function (event) {
          event.preventDefault();
          $('#copyright').get(0).scrollIntoView({ behavior: 'smooth' });
        });

        /* Light/Dark Mode Toggle, from CodePen
         * https://codepen.io/ananyaneogi/pen/zXZyMP
         * heavily modified by Luna */
        $('a[title="Toggle Theme"]').click(function (e) {
          e.preventDefault();
          const theme =
            $('html').attr('data-theme') === 'dark' ? 'light' : 'dark';

          $('html').attr('data-theme', theme);
          localStorage.theme = theme;
        });
      });

      /* Add Stylable Classes to Mod CP Table & Table Elements
       ** script by Luna of Free Codes */
      $(document).ready(function () {
        if (window.location.href.indexOf('modcp') > -1) {
          $('#modcp-content .tableborder > table').each(function () {
            const headers = [];
            const trs = $(this).find('tr');

            if (trs.length < 2) {
              return;
            }

            $(this).addClass('modcp-table');

            $(trs[1])
              .find('td')
              .each(function () {
                if ($(this).attr('lol') === 'lol') {
                  const headerText = $(this).text();
                  headers.push(headerText);
                }
              });
            for (var i = 2; i < trs.length; i++) {
              const tds = $(trs[i]).find('td');
              if (tds.length < 2) {
                return;
              }
              $(tds).each(function (index) {
                if (headers[index]) {
                  const sanitizedHeader = headers[index]
                    .replace(/[\s?:]+/g, '')
                    .toLowerCase();
                  $(this).addClass(sanitizedHeader);

                  const originalHeaderText = headers[index];
                  $(this).prepend(
                    `<span class="header-name">${originalHeaderText}:</span>`,
                  );
                }
              });
            }
          });
        }
      });
    </script>
    <script>
      $(document).ready(function () {
        $('[id="CODE-WRAP"]').each(function () {
          const codeWrap = $(this);

          //create copy button
          const copyBtn = $('<button>')
            .text('COPY')
            .addClass('button-small copy-button');

          //append to header
          const codeBlockHeader = codeWrap.find('tbody > tr:first-child > td');
          codeBlockHeader.append(copyBtn);

          //grab codeblock
          const codeBlock = codeWrap.find('#CODE');

          copyBtn.on('click', function () {
            // if Clipboard API is supported and codeBlock exists
            if (navigator.clipboard && codeBlock) {
              navigator.clipboard.writeText(codeBlock.text()).then(
                function () {
                  copyBtn.text('✓ COPIED!');

                  // highlight text inside the code block
                  if (window.getSelection) {
                    const selection = window.getSelection();
                    const range = document.createRange();
                    range.selectNodeContents(codeBlock.get(0));
                    selection.removeAllRanges();
                    selection.addRange(range);
                  }

                  // Revert button text back to "COPY" after 2.5 seconds
                  setTimeout(function () {
                    copyBtn.text('COPY');
                  }, 2500);
                },
                function (err) {
                  alert('Error in copying text: ' + err);
                },
              );
            } else {
              // Fallback for older browsers
              var textarea = $('<textarea>').val(codeBlock.text());
              $('body').append(textarea);
              textarea.select();
              try {
                document.execCommand('copy');
                copyBtn.text('✓ COPIED!');
              } catch (err) {
                alert('Fallback: Oops, unable to copy ' + err);
              }
              textarea.remove();
            }
          });
        });
      });
    </script>
    <!-- DO NOT ADD TO OR EDIT ANYTHING BELOW THIS LINE -->
  </body>
</html>
