<!DOCTYPE html>
<html>
  <head>
    <title><% TITLE %></title>
    <!-- START CSS -->
    <% CSS %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- end CSS -->
    <!-- start JavaScript files -->
    <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
    <script src="https://files.jcink.net/html/catcollapse.js"></script>
    <script>
      // set dark/light mode before page load
      if (localStorage.theme) {
        document.documentElement.setAttribute('data-theme', localStorage.theme);
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
      }
    </script>
    <!-- end JavaScript files -->
  </head>
  <body
    id="<!-- |input_act| -->"
    class="act-<!-- |input_act| --> g_<!-- |g_id| --> m_<!-- |id| --> p_<!-- |parent_id| --> code-<!-- |input_CODE| -->">
    <div id="wrapper">
      <!-- start navigation bar -->
      <div id="navigation-wrapper">
        <div id="navigation">
          <div class="nav__icons--left">
            <a href="/index.php" title="Home">
              <i class="fas fa-home icons"></i>
            </a>
            <a href="#" title="Toggle Theme">
              <i class="fas fa-lightbulb icons"></i>
            </a>
          </div>

          <div class="nav__menu">
            <button class="button-action">
              Menu
              <i
                class="fa-solid fa-circle-chevron-down rotate"
                title="Toggle Menu"></i>
            </button>
          </div>

          <div class="nav__icons--right">
            <a href="#" title="Back to Top">
              <i class="fas fa-arrow-up icons"></i>
            </a>
            <a href="#" title="Down to Bottom">
              <i class="fas fa-arrow-down icons"></i>
            </a>
          </div>

          <div id="navi"><% NAVIGATION %></div>
        </div>

        <div id="nav__userlinks" class="dropdown-menu">
          <div class="nav__userlinks--users">
            <!-- start guest info -->
            <a class="g-<!-- |g_id| -->" style="display: none">
              <strong> HI GUEST! </strong>
            </a>
            <div class="g-<!-- |g_id| --> logging" style="display: none">
              <a href="/index.php?act=Login&CODE=00" title="Log In">
                LOG IN <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
              </a>
              <a href="/index.php?act=Reg&CODE=00" title="Register">
                REGISTER <i class="fa-solid fa-image-portrait fa-lg"></i>
              </a>
            </div>
            <!-- end guest info -->
            <!-- start logged in user info -->
            <strong class="m-<!-- |g_id| -->">
              <!-- |name| -->
            </strong>
            <a
              href="?act=Login&CODE=03"
              title="Log Out"
              id="log-out"
              class="m-<!-- |g_id| -->">
              Log Out <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
            </a>
            <div class="m-<!-- |g_id| --> account-switcher">
              <span id="subacct_link">
                <a
                  href="javascript:void(0);"
                  onclick="document.getElementById('subacct_link').innerHTML=document.getElementById('sub_bar').innerHTML;">
                  Switch Account
                </a>
              </span>
            </div>
          </div>

          <div class="view-profile m-<!-- |g_id| -->">
            <a href="?showuser=3" title="View Profile">
              <i class="fa-solid fa-circle-user"></i> User Profile
            </a>
          </div>
          <div class="my-controls m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=00" title="User CP">
              <i class="fa-solid fa-gear"></i> User CP
            </a>
          </div>
          <div class="active-topics m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getactive" title="View Active Topics">
              <i class="fa-solid fa-bullhorn"></i> Active Topics
            </a>
          </div>
          <div class="my-messages m-<!-- |g_id| -->">
            <a href="?act=Msg&CODE=01" title="View Inbox">
              <i class="fa-solid fa-inbox"></i>
              <!-- |new_msg| -->
              messages
            </a>
          </div>
          <div class="view-new-posts m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getnew" title="View New Posts">
              <i class="fa-solid fa-envelope-open"></i> New Posts
            </a>
          </div>
          <div class="mu-alerts m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=alerts" title="View All Alerts">
              <i class="fa-solid fa-bell"></i>
              <!-- |new_alerts| -->
              alerts
            </a>
          </div>
          <div class="admin-cp m-<!-- |g_id| -->">
            <a
              href="/admin.php"
              class="acp-<!-- |g_access_cp| -->"
              target="_blank"
              title="Admin CP">
              <i class="fa-solid fa-screwdriver-wrench"></i> Admin CP
            </a>
          </div>
          <div class="mod-cp m-<!-- |g_id| -->">
            <a
              href="?act=modcp"
              class="mcp-<!-- |g_access_cp| -->"
              title="Mod CP">
              <i class="fa-solid fa-hammer"></i>
              <!-- |modcp_issues| -->
              Mod CP
            </a>
          </div>
          <!-- end logged in user info -->
          <!-- start quick links area -->
          <div class="quicklinks-1">
            <a href="" title="Quick Link 1">
              <i class="fa-solid fa-link"></i> Quick Link 1
            </a>
          </div>

          <div class="quicklinks-2">
            <a href="" title="Quick Link 2">
              <i class="fa-solid fa-link"></i> Quick Link 2
            </a>
          </div>

          <div class="quicklinks-3">
            <a href="" title="Quick Link 3">
              <i class="fa-solid fa-link"></i> Quick Link 3
            </a>
          </div>

          <div class="quicklinks-4">
            <a href="" title="Quick Link 4">
              <i class="fa-solid fa-link"></i> Quick Link 4
            </a>
          </div>

          <div class="quicklinks-5">
            <a href="" title="Quick Link 5">
              <i class="fa-solid fa-link"></i> Quick Link 5
            </a>
          </div>

          <div class="quicklinks-6">
            <a href="" title="Quick Link 6">
              <i class="fa-solid fa-link"></i> Quick Link 6
            </a>
          </div>
          <!-- end quick links area -->
        </div>
      </div>
      <!-- end navigation bar -->

      <!-- start header area -->
      <div id="header">
        <div id="logo">
          <a href="index.php"><!-- |board_name| --></a>
        </div>
        <% BOARD HEADER %>
      </div>
      <!-- end header area -->

      <!-- start forum -->
      <div id="innerwrapper"><% BOARD %></div>
      <!-- end forum -->

      <!-- start footer -->
      <div id="footer">
        <div id="skin_selector"><% SKIN_SELECTOR %></div>
        <% AFFS %>
        <div id="copyright">
          <% COPYRIGHT %>
          <div class="skin-info">Skinned by Luna of Free Codes</div>
        </div>
      </div>
      <!-- end footer -->
    </div>

    <!-- all of your scripts for the site, unless your install guide tells you otherwise, should go BELOW this comment -->
    <script>
      $('.button-action').click(function () {
        var navbarHeight = $('#navigation-wrapper').outerHeight();
        var dropdownMenu = $('.dropdown-menu');
        dropdownMenu.css('top', `${navbarHeight + 10}px`);

        $('#nav__userlinks').toggleClass('display-menu');
        $('.rotate').toggleClass('down');
      });

      $('.fa-arrow-up').click(function (event) {
        event.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });

      $('.fa-arrow-down').click(function (event) {
        event.preventDefault();
        $('#copyright').get(0).scrollIntoView({ behavior: 'smooth' });
      });

      /* Light Mode Toggle, from CodePen
       * https://codepen.io/ananyaneogi/pen/zXZyMP
       * heavily modified by Luna */
      $(document).ready(function () {
        const currentTheme = localStorage.getItem('theme');

        if (currentTheme) {
          $('html').attr('data-theme', currentTheme);
        } else {
          $('html').attr('data-theme', 'dark');
        }

        $('a[title="Toggle Theme"]').click(function (e) {
          e.preventDefault();
          const theme =
            $('html').attr('data-theme') === 'dark' ? 'light' : 'dark';

          $('html').attr('data-theme', theme);
          localStorage.theme = theme;
        });
      });
    </script>
  </body>
</html>
